<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qu'est-ce qu'on regarde ce soir ?</title>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->

    <!-- Timeline CSS 
    <link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Qu'est-ce qu'on regarde ce soir ?</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Choisir en fonction de ses goûts...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-primary">
                            Quels sont vos critères ? 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                   <!-- <label> Pays </label>
                                    <select class="form-control" id="categorie_pays">
                                        <option>pays</option>
                                    </select> -->
                                    <label> Pays </label>
                                    <select class="form-control" id="choix_pays">
                                        <option>Peu importe !</option>
                                        <option>Argentine</option>
                                        <option>Australie</option>
                                        <option>Autriche</option>
                                        <option>Belge</option>
                                        <option>Brésil</option>
                                        <option>Canada</option>
                                        <option>Canada-Australie</option>
                                        <option>Canada-France</option>
                                        <option>Chine</option>
                                        <option>Danemark</option>
                                        <option>Espagne</option>
                                        <option>Espagne-Italie-France</option>
                                        <option>Espagne-Mexique</option>
                                        <option>France</option>
                                        <option>France-Argentine</option>
                                        <option>France-Australie</option>
                                        <option>France-Belgique</option>
                                        <option>France-Belgique-Danemark</option>
                                        <option>France-Benelux</option>
                                        <option>France-Canada</option>
                                        <option>France-Canada-USA</option>
                                        <option>France-Chine</option>
                                        <option>France-Espagne</option>
                                        <option>France-EspagneI</option>
                                        <option>France-Grande Bretagne</option>
                                        <option>France-Italie</option>
                                        <option>France-Italie-Belgique</option>
                                        <option>France-Italie-Danemark</option>
                                        <option>France-Italie-Espagne</option>
                                        <option>France-Italie-Espagne-Maroc</option>
                                        <option>France-Italie-Grande Bretagne</option>
                                        <option>France-Liechtenstein-Yougoslavie</option>
                                        <option>France-Mexique</option>
                                        <option>France-Néerlandais</option>
                                        <option>France-Néerlandais-Belgique</option>
                                        <option>France-Néerlandais-Italie</option>
                                        <option>France-Portugal</option>
                                        <option>France-USA</option>
                                        <option>Grande Bretagne</option>
                                        <option>Grande Bretagne-Danemark-France-Italie-Espagne</option>
                                        <option>Grande Bretagne-Espagne</option>
                                        <option>Grande Bretagne-France-</option>
                                        <option>Grande Bretagne-France-D</option>
                                        <option>Grande Bretagne-France-De</option>
                                        <option>Grande Bretagne-Italie-Danemark</option>
                                        <option>Grande Bretagne-USA</option>
                                        <option>Grande Bretagne-Yougoslavie</option>
                                        <option>Grèce</option>
                                        <option>Grèce-France</option>
                                        <option>Grèce-Italie-Grande Bretagne</option>
                                        <option>Hong-Kong</option>
                                        <option>Italie</option>
                                        <option>Italie-Espagne</option>
                                        <option>Italie-France</option>
                                        <option>Italie-France-D</option>
                                        <option>Italie-France-Espagne</option>
                                        <option>Italie-France-USA</option>
                                        <option>Italie-Suède</option>
                                        <option>Italie-USA</option>
                                        <option>Mexique</option>
                                        <option>Mexique-France</option>
                                        <option>Mexique-USA</option>
                                        <option>Néerlandais</option>
                                        <option>Néerlandais-Danemark</option>
                                        <option>Suède</option>
                                        <option>Suède-Espagne-France</option>
                                        <option>TR</option>
                                        <option>Tchécoslovaquie</option>
                                        <option>Technirama</option>
                                        <option>UK-Australia-Nouvelle Zélande</option>
                                        <option>URSS</option>
                                        <option>USA</option>
                                        <option>USA-Danemark</option>
                                        <option>USA-Danemark-Japon</option>
                                        <option>USA-Espagne</option>
                                        <option>USA-Espagne-Argentine</option>
                                        <option>USA-Espagne-Liechtenstein</option>
                                        <option>USA-France</option>
                                        <option>USA-France-Italie</option>
                                        <option>USA-GR</option>
                                        <option>USA-Grande Bretagne</option>
                                        <option>USA-Grande Bretagne-Italie</option>
                                        <option>USA-Italie</option>
                                        <option>USA-Japon</option>
                                        <option>USA-Nouvelle Zélande</option>
                                        <option>USA-URSS</option>
                                    </select>
                                 <!--   <label> Genre </label>
                                    <select class="form-control" id="categorie_genre">
                                        <option>genre</option>
                                    </select> -->
                                    <label> Genre </label>
                                    <select class="form-control" id="choix_genre">
                                        <option>Peu importe !</option>
                                        <option> Guerre</option>
                                        <option>?</option>
                                        <option>Aventure-</option>
                                        <option>Aventure- </option>
                                        <option>Aventure- Comique-</option>
                                        <option>Aventure- Comique- Comique- Musical</option>
                                        <option>Aventure- Comique- Dramatique</option>
                                        <option>Aventure- Comique- Dramatique Fantastique</option>
                                        <option>Aventure- Dramatique</option>
                                        <option>Aventure- Dramatique </option>
                                        <option>Aventure- Dramatique Guerre</option>
                                        <option>Aventure- Dramatique Policier- Western</option>
                                        <option>Aventure- Espionnage -</option>
                                        <option>Aventure- Espionnage - Comique-</option>
                                        <option>Aventure- Fantastique</option>
                                        <option>Aventure- Guerre</option>
                                        <option>Aventure- Guerre </option>
                                        <option>Aventure- Guerre Comique-</option>
                                        <option>Aventure- Policier-</option>
                                        <option>Aventure- Policier- Dramatique</option>
                                        <option>Aventure- Politique Guerre</option>
                                        <option>Aventure- Science Fiction</option>
                                        <option>Aventure- Western</option>
                                        <option>Aventure- Western Comique- Dramatique</option>
                                        <option>Aventure- catastrophe</option>
                                        <option>Aventure- mont.</option>
                                        <option>Aventure- pirates</option>
                                        <option>Biographie</option>
                                        <option>Biographique-</option>
                                        <option>Biographique- Comique-</option>
                                        <option>Biographique- Comique- Dramatique</option>
                                        <option>Biographique- Comique- Musical</option>
                                        <option>Comique-</option>
                                        <option>Comique- </option>
                                        <option>Comique- Aventure-</option>
                                        <option>Comique- Aventure- Policier- Karate</option>
                                        <option>Comique- Biographique-</option>
                                        <option>Comique- Comique- Musical</option>
                                        <option>Comique- Dramatique</option>
                                        <option>Comique- Dramatique </option>
                                        <option>Comique- Dramatique Aventure-</option>
                                        <option>Comique- Dramatique Biographique-</option>
                                        <option>Comique- Dramatique Fantastique</option>
                                        <option>Comique- Dramatique Guerre</option>
                                        <option>Comique- Dramatique Policier-</option>
                                        <option>Comique- Dramatique Policier- </option>
                                        <option>Comique- Dramatique Policier- Musical Dramatique</option>
                                        <option>Comique- Dramatique boxe</option>
                                        <option>Comique- Dramatique dess. animé</option>
                                        <option>Comique- Dramatique hippique</option>
                                        <option>Comique- Dramatique méloDramatique</option>
                                        <option>Comique- Dramatique Érotique</option>
                                        <option>Comique- Dramatique, Comique- Musical</option>
                                        <option>Comique- Dramatique, film à sketches</option>
                                        <option>Comique- Fantastique</option>
                                        <option>Comique- Guerre</option>
                                        <option>Comique- Horreur</option>
                                        <option>Comique- Musical</option>
                                        <option>Comique- Musical Biographique-</option>
                                        <option>Comique- Musical Dramatique</option>
                                        <option>Comique- Musical Espionnage -</option>
                                        <option>Comique- Musical Western</option>
                                        <option>Comique- Musical à sketches</option>
                                        <option>Comique- Musical, Biographique-</option>
                                        <option>Comique- Policier-</option>
                                        <option>Comique- Policier- </option>
                                        <option>Comique- Policier- Espionnage -</option>
                                        <option>Comique- Policier- Fantastique</option>
                                        <option>Comique- Policier- Politique</option>
                                        <option>Comique- Sportif</option>
                                        <option>Comique- Western</option>
                                        <option>Comique- sent.</option>
                                        <option>Comique- sentimentale</option>
                                        <option>Comique- à sketches</option>
                                        <option>Comique-Dramatique</option>
                                        <option>Dessin animé</option>
                                        <option>Documentaire</option>
                                        <option>Documentaire Guerre</option>
                                        <option>Documentaire Sportif</option>
                                        <option>Documentaire animalier</option>
                                        <option>Documentaire ski</option>
                                        <option>Documentaire sur Amazonie, Andes, Incas, </option>
                                        <option>Documentaire sur Front Populaire</option>
                                        <option>Documentaire sur l'île des Cyclades</option>
                                        <option>Dramatique</option>
                                        <option>Dramatique </option>
                                        <option>Dramatique ?</option>
                                        <option>Dramatique Aventure-</option>
                                        <option>Dramatique Aventure- </option>
                                        <option>Dramatique Biographie</option>
                                        <option>Dramatique Biographique-</option>
                                        <option>Dramatique Cambodge</option>
                                        <option>Dramatique Comique-</option>
                                        <option>Dramatique Espionnage - Guerre</option>
                                        <option>Dramatique Fantastique</option>
                                        <option>Dramatique Guerre</option>
                                        <option>Dramatique Historique</option>
                                        <option>Dramatique Horreur</option>
                                        <option>Dramatique Musical</option>
                                        <option>Dramatique Mélodrame</option>
                                        <option>Dramatique Policier-</option>
                                        <option>Dramatique Policier- </option>
                                        <option>Dramatique Policier- Espionnage -</option>
                                        <option>Dramatique Politique</option>
                                        <option>Dramatique Religieux</option>
                                        <option>Dramatique Sociétal</option>
                                        <option>Dramatique TV</option>
                                        <option>Dramatique Western</option>
                                        <option>Dramatique biographie</option>
                                        <option>Dramatique méloDramatique</option>
                                        <option>Dramatique, Aventure-</option>
                                        <option>Dramatique, Policier-</option>
                                        <option>Dramatique, méloDramatique</option>
                                        <option>Espionnage -</option>
                                        <option>Espionnage - Aventure-</option>
                                        <option>Espionnage - Comique-</option>
                                        <option>Espionnage - Comique- Dramatique</option>
                                        <option>Espionnage - Dramatique</option>
                                        <option>Espionnage - Dramatique Aventure-</option>
                                        <option>Espionnage - Policier-</option>
                                        <option>Espionnage - Policier- Dramatique </option>
                                        <option>Fantastique</option>
                                        <option>Fantastique Aventure- Comique- Dramatique</option>
                                        <option>Fantastique Dramatique</option>
                                        <option>Fantastique Policier-</option>
                                        <option>Fantastique, Policier-</option>
                                        <option>Guerre</option>
                                        <option>Guerre </option>
                                        <option>Guerre Comique- Aventure- </option>
                                        <option>Guerre Comique- Dramatique</option>
                                        <option>Guerre Dramatique</option>
                                        <option>Guerre Dramatique Aventure-</option>
                                        <option>Guerre Espionnage -</option>
                                        <option>Guerre Espionnage - Dramatique</option>
                                        <option>Guerre, Espionnage -, Aventure-</option>
                                        <option>Horreur</option>
                                        <option>Horreur Comique-</option>
                                        <option>Horreur Fantastique</option>
                                        <option>Horreur Policier-</option>
                                        <option>Mélodrame Guerre </option>
                                        <option>Policier-</option>
                                        <option>Policier- </option>
                                        <option>Policier- Aventure-</option>
                                        <option>Policier- Comique-</option>
                                        <option>Policier- Comique- Dramatique</option>
                                        <option>Policier- Comique- Gangster.</option>
                                        <option>Policier- Dramatique</option>
                                        <option>Policier- Dramatique + Alfred Crown + Dn Enright</option>
                                        <option>Policier- Dramatique Comique-</option>
                                        <option>Policier- Espionnage -</option>
                                        <option>Policier- Espionnage -.</option>
                                        <option>Policier- Fantastique</option>
                                        <option>Policier- Gangster.</option>
                                        <option>Policier- Science Fiction</option>
                                        <option>Policier- polt.</option>
                                        <option>Politique fict- Comique- Dramatique</option>
                                        <option>Science Fiction</option>
                                        <option>Science Fiction Aventure-</option>
                                        <option>Science Fiction Dramatique</option>
                                        <option>Science Fiction Espionnage -</option>
                                        <option>Science Fiction Fantastique</option>
                                        <option>Science Fiction Policier-</option>
                                        <option>Science Fiction gst. Policier-</option>
                                        <option>Science Fiction, fantastique</option>
                                        <option>Western</option>
                                        <option>Western Aventure-</option>
                                        <option>Western Comique-</option>
                                        <option>Western Comique- Aventure-</option>
                                        <option>Western Comique- Musical</option>
                                        <option>Western Comique- Érotique</option>
                                        <option>Western Fantastique</option>
                                        <option>Western Moderne Dramatique</option>
                                        <option>Western Moderne, Comique- Aventure-</option>
                                        <option>Western Musical</option>
                                        <option>Western Policier-</option>
                                        <option>Western Science Fiction</option>
                                        <option>Western TV</option>
                                        <option>Western italien</option>
                                        <option>Western moderne</option>
                                        <option>Western moderne, Aventure-</option>
                                        <option>Western, Aventure-</option>
                                        <option>Western, Aventure- Espionnage -</option>
                                        <option>Western, Comique-</option>
                                        <option>Western, Comique- </option>
                                        <option>Western, Dramatique</option>
                                        <option>Western, Espionnage -</option>
                                        <option>Western, Fantastique</option>
                                        <option>Western, Policier-</option>
                                        <option>Western, Science Fiction</option>
                                        <option>Western, comédie, aventures,</option>
                                        <option>biographie politique.</option>
                                        <option>docu - Fantastique</option>
                                        <option>fantastique, Policier-</option>
                                        <option>fct. Documentaire</option>
                                        <option>gst. Policier-</option>
                                        <option>gst. Policier- </option>
                                        <option>karate</option>
                                        <option>porno</option>
                                        <option>sketches</option>
                                        <option>Érotique porno.</option>
                                    </select>
                                </div>
                                    <button type="button" onclick="getFormValue()" class="btn btn-large btn-primary"> Envoyer </button>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                            <div class="row">
                                    <div class="table-responsive">
                                        <table id="dataTable" class="display dataTables_wrapper" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Titre original</th>
                                                        <th>TItre francais</th>
                                                        <th>Realisateur</th>
                                                        <th>Couleur</th>
                                                        <th>Genre</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                    </div>
                                    <!-- /.table-responsive -->
                            </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>

        <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            
        });
        function getFormValue(){
            var choix_pays = $("#choix_pays").val()
           // var categorie_pays = $("#categorie_pays").val()
            var choix_genre = $("#choix_genre").val()
            //var categorie_genre = $("#categorie_genre").val()
            console.log(choix_pays)
          //  console.log(categorie_pays)
            console.log(choix_genre)
            //console.log(categorie_genre)
            $.ajax({
                url:'api/formulaire/',
                data: { 'choix_pays': choix_pays,'choix_genre': choix_genre}, 
               // data: {'categorie_pays': categorie_pays, 'choix_pays': choix_pays, 'categorie_genre': categorie_genre, 'choix_genre': choix_genre}, 
                success : function(resultat, statut){ // code_html contient le HTML renvoyé
                    var data = resultat.responseText
                    console.log(data)
                    console.log(resultat)
                    populateDB(resultat['data'])
                }
            })
        
        }
        function populateDB(dataDB){
            console.log(dataDB)
            $('#dataTable').DataTable( {
                data: dataDB
            } ); 
        }
    </script>

</body>

</html>
