<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qu'est-ce qu'on regarde ce soir ?</title>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->

    <!-- Timeline CSS 
    <link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Qu'est-ce qu'on regarde ce soir ?</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Choisir en fonction de ses goûts...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-primary">
                            Quels sont vos critères ? 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                   <!-- <label> Pays </label>
                                    <select class="form-control" id="categorie_pays">
                                        <option>pays</option>
                                    </select> -->
                                    <label> Pays </label>
                                    <select class="form-control" id="choix_pays">
                                        <option> </option>
                                        <option>Argentine</option>
                                        <option>Australie</option>
                                        <option>Autriche</option>
                                        <option>Belgique</option>
                                        <option>Benelux</option>
                                        <option>Brésil</option>
                                        <option>Canada</option>
                                        <option>Chine</option>
                                        <option>Danemark</option>
                                        <option>Espagne</option>
                                        <option>France</option>
                                        <option>Grande Bretagne</option>
                                        <option>Grèce</option>
                                        <option>Hong-Kong</option>
                                        <option>Italie</option>
                                        <option>Japon</option>
                                        <option>Liechtenstein</option>
                                        <option>Maroc</option>
                                        <option>Mexique</option>
                                        <option>Néerlandais</option>
                                        <option>Nouvelle Zélande</option>
                                        <option>Portugal</option>
                                        <option>Suède</option>
                                        <option>TR</option>
                                        <option>Tchécoslovaquie</option>
                                        <option>Technirama</option>
                                        <option>URSS</option>
                                        <option>USA</option>
                                        <option>Yougoslavie</option>
                                    </select>
                                 <!--   <label> Genre </label>
                                    <select class="form-control" id="categorie_genre">
                                        <option>genre</option>
                                    </select> -->
                                    <label> Genre </label>
                                    <select class="form-control" id="choix_genre">
                                        <option> </option>
                                        <option>Animalier</option>
                                        <option>Aventure</option>
                                        <option>Biographie</option>
                                        <option>Boxe</option>
                                        <option>Catastrophe</option>
                                        <option>Comique</option>
                                        <option>Dessin animé</option>
                                        <option>Documentaire</option>
                                        <option>Dramatique</option>
                                        <option>Érotique</option>
                                        <option>Espionnage</option>
                                        <option>Fantastique</option>
                                        <option>Gangster</option>
                                        <option>Guerre</option>
                                        <option>Hippique</option>
                                        <option>Horreur</option>
                                        <option>Karate</option>
                                        <option>Mélodrame</option>
                                        <option>Musical</option>
                                        <option>Pirates</option>
                                        <option>Policier</option>
                                        <option>Porno</option>
                                        <option>Religieux</option>
                                        <option>Science Fiction</option>
                                        <option>Sentimental</option>
                                        <option>Sketches</option>
                                        <option>Sociétal</option>
                                        <option>Sportif</option>
                                        <option>TV</option>
                                        <option>Western</option>
                                    </select>
                                    <label> Couleur </label>
                                    <select class="form-control" id="choix_couleur">
                                        <option> </option>  
                                        <option>Couleur</option>
                                        <option>Noir et Blanc</option>
                                    </select>
                                    <label> Entre... </label>
                                    <select class="form-control" id="choix_datemin">
                                        <option>1910</option>
                                        <option>1920</option>
                                        <option>1930</option>
                                        <option>1940</option>
                                        <option>1950</option>
                                        <option>1960</option>
                                        <option>1970</option>
                                        <option>1980</option>
                                        <option>1990</option>
                                        <option>2000</option>
                                        <option>2010</option>
                                    </select>
                                    <label> Et... </label>
                                    <select class="form-control" id="choix_datemax">
                                        <option>2016</option>
                                        <option>2010</option>
                                        <option>2000</option>
                                        <option>1990</option>
                                        <option>1980</option>
                                        <option>1970</option>
                                        <option>1960</option>
                                        <option>1950</option>
                                        <option>1940</option>
                                        <option>1930</option>
                                        <option>1920</option>
                                    </select>

                                    <label>Un acteur, une actrice préféré ?</label>
                                        <input type="text" class="form-control" id="choix_act1">
                                    </div>

                                    <button type="button" onclick="getFormValue()" class="btn btn-large btn-primary"> Envoyer </button>
									<button type="button" onclick="affiche()" class="btn btn-large btn-primary">J'ai de la chance</button>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                            <div class="row">
                                    <div class="table-responsive">
                                        <table id="dataTable" class="display dataTables_wrapper" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Titre original</th>
                                                        <th>Titre francais</th>
                                                        <th>Realisateur</th>
                                                        <th>Couleur</th>
                                                        <th>Genre</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                    </div>
                                    <!-- /.table-responsive -->
                            </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>

        <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <script type="text/javascript">
						
        $(document).ready(function() {
            
        });
        function getFormValue(){
            var choix_pays = $("#choix_pays").val()
            var choix_genre = $("#choix_genre").val()
            var choix_couleur = $("#choix_couleur").val()
            var choix_datemin = $("#choix_datemin").val()
            var choix_datemax = $("#choix_datemax").val()
            var choix_act1 = $("#choix_act1").val()


            console.log(choix_pays)
            console.log(choix_genre)
            console.log(choix_couleur)
            console.log(choix_datemin)
            console.log(choix_datemax)
            console.log(choix_act1)

            $.ajax({
                url:'api/formulaire/',
                data: { 'choix_pays': choix_pays,'choix_genre': choix_genre, 'choix_couleur': choix_couleur, 'choix_datemin': choix_datemin, 'choix_datemax': choix_datemax, 'choix_act1': choix_act1}, 
                success : function(resultat, statut){ // code_html contient le HTML renvoyé
                    var data = resultat.responseText
                    console.log(data)
                    console.log(resultat)
                    populateDB(resultat['data'])

                    titre_francais = resultat.titre_francais;
                    titre_original = resultat.titre_original;

					realisateur = resultat.realisateur;
                }
            })
        
        }

		function affiche(){
			alert("le film proposé est "+ titre_original +" un film de "+ realisateur);
		}
		
        function populateDB(dataDB){
            console.log(dataDB)
            $('#dataTable').DataTable( {
                data: dataDB
            } ); 
        }
    </script>

</body>

</html>
