<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Qu'est-ce qu'on regarde ce soir ?</title>

    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <link href="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->

    <!-- Timeline CSS 
    <link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Qu'est-ce qu'on regarde ce soir ?</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Choisir en fonction de ses goûts...</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-primary">
                            Quels sont vos critères ? 
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label> Pays </label>
                                    <select class="form-control" id="choix_pays">
                                        <option>Peu importe !</option>
                                        <option>Argentine</option>
                                        <option>Australie</option>
                                        <option>Autriche</option>
                                        <option>Belge</option>
                                        <option>Br.</option>
                                        <option>CH</option>
                                        <option>Canada</option>
                                        <option>Canada-Australie</option>
                                        <option>Canada-F</option>
                                        <option>D</option>
                                        <option>D-Danois</option>
                                        <option>Danemark</option>
                                        <option>E</option>
                                        <option>E-I-F</option>
                                        <option>E-Mex</option>
                                        <option>F</option>
                                        <option>F-Arg.</option>
                                        <option>F-Australien</option>
                                        <option>F-B</option>
                                        <option>F-B-D</option>
                                        <option>F-Be</option>
                                        <option>F-CH</option>
                                        <option>F-Can</option>
                                        <option>F-Can-USA</option>
                                        <option>F-Can.</option>
                                        <option>F-Canada</option>
                                        <option>F-D</option>
                                        <option>F-D-B</option>
                                        <option>F-D-I</option>
                                        <option>F-E</option>
                                        <option>F-E-I</option>
                                        <option>F-GB</option>
                                        <option>F-I</option>
                                        <option>F-I-B</option>
                                        <option>F-I-D</option>
                                        <option>F-I-E</option>
                                        <option>F-I-E-Maroc</option>
                                        <option>F-I-GB</option>
                                        <option>F-Liechtenstein-Youg.</option>
                                        <option>F-Mex.</option>
                                        <option>F-Mexique</option>
                                        <option>F-Port.</option>
                                        <option>F-USA</option>
                                        <option>GB</option>
                                        <option>GB-D-F-I-E</option>
                                        <option>GB-E</option>
                                        <option>GB-F</option>
                                        <option>GB-F-D</option>
                                        <option>GB-F-De</option>
                                        <option>GB-I-D</option>
                                        <option>GB-USA</option>
                                        <option>GB-Yougo.</option>
                                        <option>GR</option>
                                        <option>GR-F</option>
                                        <option>GR-I-GB</option>
                                        <option>Grèce</option>
                                        <option>Hong-Kong</option>
                                        <option>I</option>
                                        <option>I-E</option>
                                        <option>I-ESP</option>
                                        <option>I-F</option>
                                        <option>I-F-D</option>
                                        <option>I-F-E</option>
                                        <option>I-F-Esp</option>
                                        <option>I-F-Spa</option>
                                        <option>I-F-USA</option>
                                        <option>I-S</option>
                                        <option>I-USA</option>
                                        <option>Mex.</option>
                                        <option>Mex.-F</option>
                                        <option>Mex.-USA</option>
                                        <option>Mexique</option>
                                        <option>S</option>
                                        <option>Suède</option>
                                        <option>Suède-F</option>
                                        <option>TR</option>
                                        <option>Tchéc.</option>
                                        <option>Tchécoslovaquie</option>
                                        <option>Technirama</option>
                                        <option>UK-Australia-NewZealand</option>
                                        <option>URSS</option>
                                        <option>USA</option>
                                        <option>USA-D-Jap.</option>
                                        <option>USA-De</option>
                                        <option>USA-E-Liechtenstein</option>
                                        <option>USA-Esp</option>
                                        <option>USA-Esp.-Arg.</option>
                                        <option>USA-F</option>
                                        <option>USA-F-I</option>
                                        <option>USA-GB</option>
                                        <option>USA-GB-Inde</option>
                                        <option>USA-GR</option>
                                        <option>USA-I</option>
                                        <option>USA-Japon</option>
                                        <option>USA-NewZeal.</option>
                                        <option>USA-URSS</option>
                                    </select>
                                    <label> Genre </label>
                                    <select class="form-control" id="choix_genre">
                                        <option>Peu importe !</option>
                                        <option> gu.</option>
                                        <option>?</option>
                                        <option>Pol.</option>
                                        <option>av.</option>
                                        <option>av. </option>
                                        <option>av. catastrophe</option>
                                        <option>av. com.</option>
                                        <option>av. com. dr.</option>
                                        <option>av. com. dr. fant.</option>
                                        <option>av. dr.</option>
                                        <option>av. dr. </option>
                                        <option>av. dr. gu.</option>
                                        <option>av. dr. pol., western</option>
                                        <option>av. esp.</option>
                                        <option>av. esp. com.</option>
                                        <option>av. fantast.</option>
                                        <option>av. gu.</option>
                                        <option>av. gu. </option>
                                        <option>av. gu. com.</option>
                                        <option>av. mont.</option>
                                        <option>av. pirates</option>
                                        <option>av. pol.</option>
                                        <option>av. pol. dr.</option>
                                        <option>av. polit. gu.</option>
                                        <option>av. sc. fct.</option>
                                        <option>av. western</option>
                                        <option>av. western com. dr.</option>
                                        <option>av., com., com. mus.</option>
                                        <option>bio.</option>
                                        <option>bio. com.</option>
                                        <option>bio. com. dr.</option>
                                        <option>bio. com. mus.</option>
                                        <option>biogr.</option>
                                        <option>biographie politique.</option>
                                        <option>com.</option>
                                        <option>com. </option>
                                        <option>com. av.</option>
                                        <option>com. av. pol. :karate</option>
                                        <option>com. bio.</option>
                                        <option>com. dr.</option>
                                        <option>com. dr. </option>
                                        <option>com. dr. av.</option>
                                        <option>com. dr. bio.</option>
                                        <option>com. dr. boxe</option>
                                        <option>com. dr. dess. animé</option>
                                        <option>com. dr. fantast.</option>
                                        <option>com. dr. gu.</option>
                                        <option>com. dr. hippique</option>
                                        <option>com. dr. mélodr.</option>
                                        <option>com. dr. pol.</option>
                                        <option>com. dr. pol. </option>
                                        <option>com. dr. pol. mus. dr.</option>
                                        <option>com. dr. érot.</option>
                                        <option>com. dr., com. mus.</option>
                                        <option>com. dr., film à sketches</option>
                                        <option>com. fant.</option>
                                        <option>com. fantast.</option>
                                        <option>com. gu.</option>
                                        <option>com. hor.</option>
                                        <option>com. mus.</option>
                                        <option>com. mus. bio.</option>
                                        <option>com. mus. dr.</option>
                                        <option>com. mus. esp.</option>
                                        <option>com. mus. western</option>
                                        <option>com. mus. à sketches</option>
                                        <option>com. mus., bio.</option>
                                        <option>com. pol.</option>
                                        <option>com. pol. </option>
                                        <option>com. pol. esp.</option>
                                        <option>com. pol. fant.</option>
                                        <option>com. pol. polit.</option>
                                        <option>com. sent.</option>
                                        <option>com. sentimentale</option>
                                        <option>com. sport.</option>
                                        <option>com. western</option>
                                        <option>com. à sketches</option>
                                        <option>com., com. mus.</option>
                                        <option>com.dr.</option>
                                        <option>des. an.</option>
                                        <option>des. anim.</option>
                                        <option>dess. an.</option>
                                        <option>doc.</option>
                                        <option>doc. gu.</option>
                                        <option>doc. ski</option>
                                        <option>doc. sport.</option>
                                        <option>doc. sur Amazonie, Andes, Incas, </option>
                                        <option>doc. sur Front Populaire</option>
                                        <option>doc. sur l'île des Cyclades</option>
                                        <option>docu - fantast.</option>
                                        <option>docu.</option>
                                        <option>docu. animalier</option>
                                        <option>dr.</option>
                                        <option>dr. </option>
                                        <option>dr. ?</option>
                                        <option>dr. Cambodge</option>
                                        <option>dr. TV</option>
                                        <option>dr. av.</option>
                                        <option>dr. av. </option>
                                        <option>dr. bio.</option>
                                        <option>dr. biogr.</option>
                                        <option>dr. biographie</option>
                                        <option>dr. com.</option>
                                        <option>dr. esp. gu.</option>
                                        <option>dr. fantast.</option>
                                        <option>dr. gu.</option>
                                        <option>dr. hist.</option>
                                        <option>dr. hor.</option>
                                        <option>dr. mus.</option>
                                        <option>dr. mélo.</option>
                                        <option>dr. mélodr.</option>
                                        <option>dr. pol.</option>
                                        <option>dr. pol. </option>
                                        <option>dr. pol. esp.</option>
                                        <option>dr. polit.</option>
                                        <option>dr. rel.</option>
                                        <option>dr. soc.</option>
                                        <option>dr. western</option>
                                        <option>dr., av.</option>
                                        <option>dr., mélodr.</option>
                                        <option>dr., pol.</option>
                                        <option>esp.</option>
                                        <option>esp. av.</option>
                                        <option>esp. com.</option>
                                        <option>esp. com. dr.</option>
                                        <option>esp. dr.</option>
                                        <option>esp. dr. av.</option>
                                        <option>esp. pol.</option>
                                        <option>esp. pol. dr. </option>
                                        <option>fant.</option>
                                        <option>fant. pol.</option>
                                        <option>fant., pol.</option>
                                        <option>fantast.</option>
                                        <option>fantast. av. com. dr.</option>
                                        <option>fantast. dr.</option>
                                        <option>fantastique, pol.</option>
                                        <option>fct. doc.</option>
                                        <option>gst. pol.</option>
                                        <option>gst. pol. </option>
                                        <option>gu.</option>
                                        <option>gu. </option>
                                        <option>gu. com. av. </option>
                                        <option>gu. com. dr.</option>
                                        <option>gu. dr.</option>
                                        <option>gu. dr. av.</option>
                                        <option>gu. esp.</option>
                                        <option>gu. esp. dr.</option>
                                        <option>gu., esp., av.</option>
                                        <option>hor.</option>
                                        <option>hor. com.</option>
                                        <option>hor. fant.</option>
                                        <option>hor. pol.</option>
                                        <option>karate</option>
                                        <option>mélo. gu. </option>
                                        <option>pol.</option>
                                        <option>pol. </option>
                                        <option>pol. av.</option>
                                        <option>pol. com.</option>
                                        <option>pol. com. dr.</option>
                                        <option>pol. com. ggst.</option>
                                        <option>pol. dr.</option>
                                        <option>pol. dr. + Alfred Crown + Dn Enright</option>
                                        <option>pol. dr. com.</option>
                                        <option>pol. esp.</option>
                                        <option>pol. esp..</option>
                                        <option>pol. fantast.</option>
                                        <option>pol. ggst.</option>
                                        <option>pol. polt.</option>
                                        <option>pol. sc. fct.</option>
                                        <option>pol., com. dr.</option>
                                        <option>pol., ggst.</option>
                                        <option>polit. fict., com. dr.</option>
                                        <option>porno</option>
                                        <option>sc. fct.</option>
                                        <option>sc. fct. av.</option>
                                        <option>sc. fct. dr.</option>
                                        <option>sc. fct. esp.</option>
                                        <option>sc. fct. fantast.</option>
                                        <option>sc. fct. gst. pol.</option>
                                        <option>sc. fct. pol.</option>
                                        <option>sc. fct., fantastique</option>
                                        <option>sketches</option>
                                        <option>western</option>
                                        <option>western TV</option>
                                        <option>western av.</option>
                                        <option>western com.</option>
                                        <option>western com. av.</option>
                                        <option>western com. mus.</option>
                                        <option>western com. érot.</option>
                                        <option>western fant.</option>
                                        <option>western italien</option>
                                        <option>western mod. dr.</option>
                                        <option>western mod., com. av.</option>
                                        <option>western moderne</option>
                                        <option>western moderne, av.</option>
                                        <option>western mus.</option>
                                        <option>western pol.</option>
                                        <option>western sc. fct.</option>
                                        <option>western, av.</option>
                                        <option>western, av., esp.</option>
                                        <option>western, com.</option>
                                        <option>western, com., </option>
                                        <option>western, comédie, aventures,</option>
                                        <option>western, dr.</option>
                                        <option>western, esp.</option>
                                        <option>western, fantast.</option>
                                        <option>western, pol.</option>
                                        <option>western, sc. fct.</option>
                                        <option>érot. porno.</option>
                                    </select>
                                    
                                </div>
                                    <button type="button" onclick="getFormValue()" class="btn btn-large btn-primary"> Envoyer </button>
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                            <div class="row">
                                    <div class="table-responsive">
                                        <table id="dataTable" class="display dataTables_wrapper" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Titre original</th>
                                                        <th>TItre francais</th>
                                                        <th>Realisateur</th>
                                                        <th>Couleur</th>
                                                        <th>Genre</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                        <th>some data</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                    </div>
                                    <!-- /.table-responsive -->
                            </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>

        <!-- DataTables JavaScript -->
    <script src="{% static 'bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            
        });

        function getFormValue(){
            var choix_pays = $("#choix_pays").val()
            var categorie_pays = $("#categorie_pays").val()
            var choix_genre = $("#choix_genre").val()
            var categorie_genre = $("#categorie_genre").val()
            console.log(choix_pays)
            console.log(categorie_pays)
            console.log(choix_genre)
            console.log(categorie_genre)
            $.ajax({
                url:'api/formulaire/',
                data: {'categorie_pays': categorie_pays, 'choix_pays': choix_pays, 'categorie_genre': categorie_genre, 'choix_genre': choix_genre}, 
                success : function(resultat, statut){ // code_html contient le HTML renvoyé
                    var data = resultat.responseText
                    console.log(data)
                    console.log(resultat)
                    populateDB(resultat['data'])
                }
            })
        
        }

        function populateDB(dataDB){
            console.log(dataDB)
            $('#dataTable').DataTable( {
                data: dataDB
            } ); 
        }
    </script>

</body>

</html>


